

.right-main {
	flex-grow: 1;
}

.right-main table {
	margin: auto;
	width: 80%;
}



#name , #comp {
	width: 65%;
}

#adr {
	width: 80%;
}

#email {
	width: 60%;
}

textarea {
	width: 85%;
	height: 50px;
}
