* {
	margin:  0;
	box-sizing: border-box;
	font-family: sans-serif;
}

ul, ul *{
	list-style: none;
	padding: 0;
}


body {
	/* width: 1080px; */
	background-color: black;
}

.fixed-width {
	max-width: 768px;
	height: 1000px;
	margin: auto;
	background-color: cyan;
}

.logo {
	width: 100%;
	display: flex;
}

.logo > img { 
	width: calc( 100% / 5);
}

nav {
	width:  100%;
	background-color: blue;
	display: flex;
}
nav a {
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	border-left: 2px solid black;
	font-size: 12px;
}

nav a:hover {
	color: #FF0;
	text-decoration: underline;
}

nav a:active {
	color: #F0F;
	text-decoration: underline;
}


.main {
	display: flex;
}

.left-nav, .right-nav {
	background-color: #09f;
}
.left-nav {
	width: 133px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0;
	padding-top: 20px;
	order: 0;
}

.left-nav * {
	margin: 0;
	font-size: 0;
}

.left-nav a:hover img {
	filter: grayscale(100%);
}

.right-nav {
	width: 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	order: 3;
}
.right-nav img {
	width: 100%;
}

.center {
	background-color: white;
	flex-grow: 1;
	order: 2;
	overflow: hidden;
}


.marquee-r {
	width: 100%;
	animation: r-l linear 5s infinite;
}

.marquee-l {
	width: 100%;
	animation: l-r linear 5s infinite;
}


@keyframes l-r {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(100%);
	}
}


@keyframes r-l {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-50%);
	}
}
