* {
	font-family: 'Times New Roman', Times, serif;
}
.center {
	padding: 15px 10px;
	padding-right: 40px;
}

.line {
	display: flex;
	flex-wrap:  nowrap;
	margin-top: 10px;
}

.line label {
	flex-grow: 1;
}
.line > div {
	width: 70%;
}

em {
	font-size: 13px;
	font-family: 'Times New Roman', Times, serif;
}


.header {
	display: block;
	width: 100%;
	background-color: #0099ff;
	padding: 2px 0 ;
	margin: 5px 0 ;
}

textarea {
	font-family: monospace;
	width: 100%;
	height: 130px;
}

.btns {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}


#email, #re-email, #invited-user {
	width: 90%;
}
